:root {
  --bg-main: #ffffff;
  --bg-main-gray: #F6F6F6;

  /* ! изменил цвет из-за лучшей accessability
  /* --font-color-gray: #828282; */
  --font-color-gray: #585858;
  --font-color-black: #070707;
}